[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
azure-functions = "*"
pr = "*"
psycopg2-binary = "*"
sendgrid = "==6.4.8"

[dev-packages]

[requires]
python_version = "3.9"
